.selectdp{
    background-color: hotpink;
    border: 1px solid rgb(245, 126, 195);
    box-shadow: 4px 4px 10px -3px #505050;
}

.selectdp :hover{
    background-color: rgb(196, 31, 108);
    border-radius: 10px;
    color: rgb(214, 201, 175);
    transform: scale(0.95);
    font-weight: 700;
}

