.selectdp{
    background-color: hotpink;
    box-shadow: 2px 4px 10px -3px #e66e6e;
    font: bold;
}






.dropdownfont{
    font-weight: 600;
    color: white;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: rgb(116, 41, 41);
}

.cardeffect
{
    box-shadow: 1px 2px 5px -2px #2c2c2c;
    border: 2px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
}


