.selectdp{
    background-color: hotpink;
    box-shadow: 2px 4px 10px -3px #e66e6e;
    font: bold;
}



.topImage{
object-fit: cover;
object-position: center;
border-radius: 3px;
border: 3px solid rgb(212, 212, 255);
box-shadow: 1px 2px 5px -2px #292929;
}

.dropdownfont{
    font-weight: 600;
    color: white;
}

.cardeffect
{
    box-shadow: 1px 2px 5px -2px #2c2c2c;
    border: 2px solid gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dropdown-item{
    cursor: pointer;
}