.topcss{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.03);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: focus-in-expand 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
    }